html.body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: #1abc9c;
    color: #fff;
    .navbar-brand  {
        color: #fff;
        padding: 20px 15px;
    }
    .nav>li>a {
        color: #fff;
        padding: 20px 15px;
    }
    .nav>li>a:hover,.navbar .nav>li>a:focus {
        color: #fff;
    }
}

.error_msg {
    padding: 15px;

}

.section {
    padding: 40px;
    background-color: #ededed;
    min-height: 100vh;
}

.search-box {
    margin-bottom: 15px;
}

.message-wrapper {
  .message-item {
      position: relative;
      padding: 15px;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 15px;
      .profile {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 145px;
          height: 100px;
          font-size: 80px;
          line-height: 100px;
          text-align: center;
          margin: auto;
          opacity: .7;
      }
      .content {
          padding-left: 130px;
          .heading h4 {
              margin-top: 0;
              color: #1abc9c;
          }
      }
  }
}


/* Login Styles */
#login {
    max-height: 100vh;
    padding: 40px;
}

.btn-green {
    background-color: #1abc9c;
    border-radius: 0;
    color: #fff;
}

.btn-green:hover {
    color: #fff;
}

.form-control {
    border-radius: 0;
    transform: all .5s ease;
}

.form-control:focus {
    border-color: #1abc9c;
    outline: none;
    box-shadow: none;
}
